Repository niraj312/labeler, changes with the labels that .github/labeler.yml gives for each.
All labels: label1, label2, label3

asda
  example1/c1
Labels: label1

asda
  example2/b
Labels: label2

asda
  example2/b
Labels: label2

asda
  example2/b
Labels: label2

asda
  .github/workflows/labeler.yml
Labels: none

asda
  example1/c1
Labels: label1

asda
  example1/c1
Labels: label1

asda
  example1/c1
Labels: label1

add job name
  .github/workflows/labeler.yml
Labels: none

asd
  example2/b
Labels: label2

asd
  .github/workflows/labeler.yml
Labels: none

asd
  example2/b
Labels: label2

ed
  .github/workflows/labeler.yml
Labels: none

final
  example1/aaaaaaa
Labels: label1

.github/labeler.yml:

label1:
- example1/**/*

label2: example2/*

label3:
- example3/**/*.yml
